
<div class="row">
  <div class="col-lg-12">
    <div class="absolute-centered-image">
      <span></span>
      <%= link_to image_tag("logo.png", title: "Compare PDF Documents here.", class: "h-centered"), new_comparison_url %>
    </div>
  </div>
</div>