<section>
  <h1 id="side-by-side-comparison" class="text-center">Side By Side Comparison</h1>
  <div class="centered-image">
    <span></span>
    <%= link_to image_tag(@comparison.result_image_url, title: "Comparison results.", class: "xy-centered"), new_comparison_url %>
  </div>
  <div class="service-links"></div>
</section>