<section>
  <div class="absolute-centered-image">
    <span></span>
    <%= link_to image_tag("comparison_output.png", title: "Comparison results.", class: "xy-centered"), new_comparison_url %>
  </div>
  <div class="service-links"></div>
</section>