<section>
  
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-8 col-lg-offset-2">

        <h1 id="side-by-side-comparison" class="text-center">Side By Side Comparison</h1>
        <div class="centered-image">
          <span></span>
          <%= image_tag(@comparison.result_image_url, title: "Comparison results.", class: "xy-centered", skip_pipeline: true) %>
        </div>
      </div>

    </div>

  </div>
  
</section>

    